* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.fa-snowflake {
  font-size: 10px;
  position: absolute;
  -webkit-animation: infinite-spinning 3s linear infinite;
          animation: infinite-spinning 3s linear infinite;
  color: #abf0ff;
}
@media (min-width: 320px) {
  .fa-snowflake {
    font-size: calc(
      10px + (20px - 10px) * ((
              100vw - 320px
            ) / (1200px - 320px))
    );
    font-size: calc(
      10px + (20px - 10px) * ((
              100vw - 320px
            ) / (1200px - 320px))
    );
  }
}
@media (min-width: 1200px) {
  .fa-snowflake {
    font-size: 20px;
  }
}

.fa-snowman {
  color: white;
  font-size: 10rem;
  position: relative;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  -webkit-animation: swinging 5s linear infinite;
          animation: swinging 5s linear infinite;
}
.fa-snowman::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(5%);
  width: 25%;
  height: 90%;
  background-color: red;
  background: linear-gradient(to bottom, black, black 15%, orange 15%, orange 30%, red 30%, red 100%);
}

@-webkit-keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes swinging {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes swinging {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -20;
}

.clouds {
  position: relative;
  font-size: 4rem;
  z-index: -10;
}
@media (min-width: 320px) {
  .clouds {
    font-size: calc(
      4rem + (6rem - 4rem) * ((
              100vw - 320px
            ) / (1200px - 320px))
    );
    font-size: calc(
      4rem + (6rem - 4rem) * ((
              100vw - 320px
            ) / (1200px - 320px))
    );
  }
}
@media (min-width: 1200px) {
  .clouds {
    font-size: 6rem;
  }
}
.clouds .layer {
  position: absolute;
  display: flex;
  width: 100%;
  gap: 20px;
}
.clouds .layer .fa-cloud {
  font-family: "Font Awesome 5 Free";
  color: transparent;
  background: linear-gradient(to top, grey, rgb(210, 205, 205), white);
  -webkit-background-clip: text;
  background-clip: text;
}
.clouds .layer:nth-child(odd) {
  justify-content: flex-end;
}
.clouds .layer:nth-child(odd) .fa-cloud {
  -webkit-animation: move-off-screen-left 30s linear infinite;
          animation: move-off-screen-left 30s linear infinite;
}
@-webkit-keyframes move-off-screen-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes move-off-screen-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.clouds .layer:nth-child(even) {
  justify-content: flex-start;
}
.clouds .layer:nth-child(even) .fa-cloud {
  -webkit-animation: move-off-screen-right 30s linear infinite;
          animation: move-off-screen-right 30s linear infinite;
}
@-webkit-keyframes move-off-screen-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes move-off-screen-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.snow-particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}
.snow-particle .snow {
  position: absolute;
  width: 6px;
  height: 6px;
  background: snow;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 50%;
}

@-webkit-keyframes snow-right {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(30vw) translateY(100vh);
  }
}

@keyframes snow-right {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(30vw) translateY(100vh);
  }
}
@-webkit-keyframes snow-left {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-30vw) translateY(100vh);
  }
}
@keyframes snow-left {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-30vw) translateY(100vh);
  }
}
.santa-animation {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.santa-animation img {
  position: absolute;
}

#santa {
  -webkit-animation: move-off-screen-right 6s linear infinite;
          animation: move-off-screen-right 6s linear infinite;
}
@keyframes move-off-screen-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}/*# sourceMappingURL=style.css.map */