@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@mixin responsive-font-size(
  $min-size,
  $max-size,
  $min-viewport-width,
  $max-viewport-width
) {
  font-size: $min-size;
  @media (min-width: $min-viewport-width) {
    font-size: calc(
      #{$min-size} + (#{$max-size} - #{$min-size}) * ((
              100vw - #{$min-viewport-width}
            ) / (#{$max-viewport-width} - #{$min-viewport-width}))
    );
    font-size: calc(
      #{$min-size} + (#{$max-size} - #{$min-size}) * ((
              100vw - #{$min-viewport-width}
            ) / (#{$max-viewport-width} - #{$min-viewport-width}))
    );
  }
  @media (min-width: $max-viewport-width) {
    font-size: $max-size;
  }
}
@mixin outline-text($outline-color: #000) {
  text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color,
    -1px 1px 0 $outline-color, 1px 1px 0 $outline-color;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}
main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.fa-snowflake {
  @include responsive-font-size(10px, 20px, 320px, 1200px);
  position: absolute;
  animation: infinite-spinning 3s linear infinite;
  color: #abf0ff;
}

.fa-snowman {
  color: white;
  @include responsive-font-size(5rem, 10rem, 320px, 1200px);
  position: relative;
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(5%);
    width: 25%;
    height: 90%;
    background-color: red;
    background: linear-gradient(
      to bottom,
      black,
      black 15%,
      orange 15%,
      orange 30%,
      red 30%,
      red 100%
    );
  }
  @include outline-text(black);
  animation: swinging 5s linear infinite;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -20;
}
@mixin move-off-screen-left($time:30s, $back-and-forth: false){
  // Set the animation properties
  animation: move-off-screen-left $time linear infinite;
  // Define the animation keyframes
  @keyframes move-off-screen-left {
    0% {
      // At the start of the animation, the element is in its original position
      transform: translateX(100%);
    }
    @if $back-and-forth {
      50% {
        // At the halfway point, move the element to the left or right of the screen
        transform: translateX(-100vw);
      }
    }
    100% {
      // At the halfway point, move the element to the left or right of the screen
      @if $back-and-forth {
        transform: translateX(100%);
      } @else {
        transform: translateX(-100vw);
      }
    }
  }
}
@mixin move-off-screen-right($time:30s,$back-and-forth: false) {
  // Set the animation properties
  animation: move-off-screen-right $time linear infinite;
  // Define the animation keyframes
  @keyframes move-off-screen-right {
    0% {
      // At the start of the animation, the element is in its original position
      transform: translateX(0%);
    }
    @if $back-and-forth {
      50% {
        // At the halfway point, move the element to the left or right of the screen
        transform: translateX(calc(100vw));
      }
    }
    100% {
      // At the halfway point, move the element to the left or right of the screen
      @if $back-and-forth {
        transform: translateX(0%);
      } @else {
        transform: translateX(calc(100vw));
      }
    }
  }
}
.clouds {
  position: relative;
  @include responsive-font-size(4rem, 6rem, 320px, 1200px);
  z-index: -10;
  .layer {
    position: absolute;
    display: flex;
    width: 100%;
    gap: 20px;
    .fa-cloud {
      font-family: "Font Awesome 5 Free";
      color: transparent;
      background: linear-gradient(to top,grey,rgb(210, 205, 205),white );
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  .layer:nth-child(odd) {
    justify-content: flex-end;
    .fa-cloud {
      @include move-off-screen-left(20s,true);
    }
  }
  .layer:nth-child(even) {
    justify-content: flex-start;
    .fa-cloud {
      @include move-off-screen-right(20s,true);
    }
  }
}

.snow-particle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  .snow {
    position: absolute;
    width: 6px;
    height: 6px;
    background: snow;
    border: 1px solid rgb(236, 233, 233);
    border-radius: 50%;
  }

}
@keyframes snow-right{
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(30vw) translateY(100vh);
  }
}
@keyframes snow-left{
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-30vw) translateY(100vh);
  }
}

.santa-animation{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  img{
    position: absolute;
  }
}

#santa{
  @include move-off-screen-right(6s);
}

///Center an element horizontally and vertically (according to parent element)
@mixin center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wishings{
  font-family: 'Mountains of Christmas', cursive;
  background-color: rgba(red,0.7);
  color: white;
  width: 100%;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include center-block();
  h1{
    font-size: 3rem;
  }
  h2{
    font-family: 'Unbounded';
  }
  h4{
    border-bottom:1px ridge white;
  }
}
